<form (ngSubmit)="onSubmit(titleInput.value, textInput.value)">
    <app-control class="control" label="Title">
        <input name="title" id="title" #titleInput/>
        <!-- titleInput is template variable which is a feature of angular-->
    </app-control>
    <app-control class="control" label="Request">
        <textarea name="request" id="request" rows="3" #textInput></textarea>
    </app-control>
    <p>
        <button appButton>
            Submit 
            <span ngProjectAs="ic
            on">&#8680;</span>
        </button>
    </p>
</form>